.card-title{
    color: rgba(0, 0, 255, 0.705);
}
.text-center{
    justify-content: left;
    text-align: justify;
}
.contacto{
    margin: auto;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-bottom: 1cm;
}
.form-group{
    display: flex;
   
    justify-content: center;
}
.justify-content-start{
    margin-right: 3cm;
    margin-left: 3cm;
}

