body{
    background: #fdfafa;
}

.thumbnaill{
    display: inline-block;
}
.texto{
    margin-bottom: 2cm;
    
.container{
    display: inset-block:
}
.projectname{
    margin: auto;

}
.container-fluid{
    text-align: center
    

}