&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


<form>
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-1 col-form-label">Your E-mail</label>
    <div class="col-sm-5">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group row">

    <label for="inputPassword3" class="col-sm-1 col-form-label">Your message</label>
    <div class="col-sm-5">
      <textarea class="form-control" rows="5" id="comment" placeholder="Please enter your message here..."
        name="text"></textarea>

    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
&nbsp;&nbsp;&nbsp;