<div class="container">
<div class="row my-5">
<div class=" col-12 ">
  <h2>Contact</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum soluta quae voluptatem, minus perspiciatis aut tempore ab cum officiis aliquid magni rem impedit similique veniam eaque recusandae! Culpa, tempore quidem?</p>
</div>
</div>



  <div class="row justify-content-center">
    <div class="col-8 p-2 bg-light rounded border">
      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Your E-mail</label>
        <div class="col-sm-10">
          <input type="email" readonly class="form-control bg-white" id="staticEmail" placeholder="Email">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Your Message</label>
        <div class="col-sm-10">
          <textarea class="form-control text-light" placeholder="Please enter your message here..." id="floatingTextarea2" style="height: 100px"></textarea>
          <div class="col my-2 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary justify-content-end">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

