<!-- your html code here -->
<p>Hello, I'm the portfolio.html</p>


<div class="container-fluid">
    <div class="row">
        <div class="col px-0">
            <img src="http://lorempixel.com/550/400/sports/1" class="img-rounded" width="400" height="236">
            <h3 class="Projectname">project name</h3>
            <p>Excepteur sint occaecat cupidatat non proident</p>
        </div>
        <div class="col px-0">
            <img src="http://lorempixel.com/550/400/sports/1" class="img-rounded" width="400" height="236">
        </div>
        <div class="col px-0">
            <img src="http://lorempixel.com/550/400/sports/1" class="img-rounded" width="400" height="236">
        </div>
    </div>
</div>